.primary-button {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    font-family: Nunito;
    border: 2px solid var(--grey);
    background-color: var(--green);
    color: var(--white);
    margin-top: var(--spacing-sm);
    margin-right: var(--spacing-sm);
}

.secondary-button {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    font-family: Nunito;
    border: 2px solid var(--grey);
    background-color: var(--purple);
    color: var(--white);
    margin-top: var(--spacing-sm);
    margin-right: var(--spacing-sm);
}
