.label-block {
    display: block;
}

label {
    width: 150px;
    display: inline-block;
    margin-bottom: var(--spacing-xs);
}

input {
    font-family: Nunito, sans-serif;
}

.skill-container {
    padding-top: var(--spacing-lg);
    padding-bottom: var(--spacing-lg);
}

/* Adjustments required for Firefox */

.button-container {
    display: flex;
    align-items: center;
}

#Defence-Skill {
    max-width: 129px;
}

#Attack-Skill {
    max-width: 129px;
}

#Creativity-Skill {
    max-width: 129px;
}

@media screen and (max-width: 750px) {
    label {
        width: 100px;
    }
    .skill-container {
        padding-top: var(--spacing-sm);
        padding-bottom: var(--spacing-sm);
    }
}
