.abilities {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--grey);
}

.scores {
    width: 65%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.large-card ul {
    list-style-type: none;
}

li {
    padding-top: var(--spacing-sm);
}
