:root {
    /* colours */

    --primary-blue: #242a38;
    --secondary-blue: #253341;
    --green: #40e1b1;
    --purple: #bc9eee;
    --peach: #df90ac;
    --light-blue: #81c4ea;
    --grey: #8c8c8c;
    --white: #ffffff;

    /* spacing */

    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;

    /* card widths */

    --card-xs: 300px;
    --card-sm: 350px;
    --card-md: 450px;
    --card-lg: 500px;

    /* font sizes */

    --alpha-xs: 20px;
    --alpha-sm: 30px;
    --alpha-md: 40px;
    --alpha-lg: 50px;

    --bravo-xs: 18px;
    --bravo-sm: 20px;
    --bravo-md: 24px;
    --bravo-lg: 28px;

    --charlie-xs: 12px;
    --charlie-sm: 14px;
    --charlie-md: 16px;
    --charlie-lg: 18px;

    --standard-xs: 12px;
    --standard-sm: 14px;
    --standard-md: 16px;
    --standard-lg: 18px;
}
