.small-card {
    width: var(--card-lg);
    height: 350px;
    border: 2px solid black;
    margin: var(--spacing-medium);
}

@media screen and (max-width: 1200px) {
    .small-card {
        width: var(--card-md);
        margin: var(--spacing-small);
    }
}

@media screen and (max-width: 960px) {
    .small-card {
        width: var(--card-sm);
        margin: var(--spacing-small);
    }
}

@media screen and (max-width: 750px) {
    .small-card {
        width: var(--card-xs);
    }
}
