@font-face {
    font-family: Righteous;
    src: url(../assets/fonts/Righteous-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Bold.ttf) format("truetype");
}

@font-face {
    font-family: Nunito;
    src: url(../assets/fonts/Nunito-Bold.ttf) format("truetype");
}

.heading-alpha {
    font-family: Righteous, sans-serif;
    font-size: var(--alpha-lg);
    color: var(--white);
}

.heading-bravo {
    font-family: Roboto, sans-serif;
    font-size: var(--bravo-lg);
    color: var(--white);
    padding-bottom: var(--spacing-md);
}

.heading-charlie {
    font-family: Nunito, sans-serif;
    font-size: var(--charlie-lg);
    color: var(--white);
    display: inline-block;
    padding: var(--spacing-sm);
}

label {
    font-family: Nunito, sans-serif;
    font-size: var(--standard-lg);
    color: var(--white);
}

/* Media Queries */

@media screen and (max-width: 1200px) {
    .heading-alpha {
        font-size: var(--alpha-md);
    }
    .heading-bravo {
        font-size: var(--bravo-md);
    }
    .heading-charlie {
        font-size: var(--charlie-mid);
    }
    label {
        font-size: var(--standard-md);
    }
}

@media screen and (max-width: 960px) {
    .heading-alpha {
        font-size: var(--alpha-sm);
    }
    .heading-bravo {
        font-size: var(--bravo-sm);
        margin-bottom: var(--spacing-md);
    }
    .heading-charlie {
        font-size: var(--charlie-sm);
    }
    label {
        font-size: var(--standard-sm);
    }
}

@media screen and (max-width: 750px) {
    .heading-alpha {
        font-size: var(--alpha-xs);
    }
    .heading-bravo {
        font-size: var(--bravo-xs);
        margin-bottom: var(--spacing-sm);
    }
    .heading-charlie {
        font-size: var(--charlie-xs);
    }
    label {
        font-size: var(--standard-xs);
    }
}
