#root {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: auto;
}

@media screen and (max-width: 750px) {
    #root {
        display: block;
    }
}
